// colors
$light: #FAFAFA;
$light-gray: rgb(220, 220, 220);
$dark: #180029;
$violet: #9900ff;
$lime: #8AFFA9;
$orange: #FFCA7A;

// font sizes
$font-small: 1rem;
$font-lead: 1.75rem;
$font-med: 2rem;
$font-large: 4rem;