// colors
$light: #FAFAFA;
$light-gray: rgb(220, 220, 220);
$dark: #180029;
$violet: #9900ff;
$lime: #8AFFA9;
$orange: #FFCA7A;
$dark-orange: #c27400;

// font sizes
$font-small: 1rem;
$font-med: 1.3rem;
$font-lead: 1.5rem;
$heading-small: 1.5rem;
$heading-med: 2rem;
$heading-large: 4rem;