.login__flex__container {
    display: flex;
    justify-content: center;
}

.login__container {
    background: white;
    border: 1px dashed rgb(187, 187, 187);
    border-radius: 30px;
    min-width: 400px;
    min-height: 200px;
    text-align: center;
    max-width: 600px;
}