.lead {
    font-size: $font-lead;
    padding: 1rem;
}

@include desktop-only {

    .lead__container, .container__lead {
        width: 80%;
        margin: auto;
        text-align: center;
    }
}

.lead__container, .container__lead {
    text-align: center;
    margin: auto;

    @include desktop-only {
        width: 80%;
    }
}