.lead {
    font-size: $font-lead;
    padding: 1rem;
}

@include desktop-only {

    .lead__container, .container__lead {
        width: 80%;
        margin: auto;
    }
}

.lead__container, .container__lead {
    margin: auto;

    @include desktop-only {
        width: 80%;
    }
}

code {
    background-color: rgb(220,220,220);
}