.lead {
    font-size: $font-lead;
    padding: 1rem;
}

@include desktop-only {

    .lead__container, .container__lead {
        width: 80%;
        margin: auto;
    }
}

.lead__container, .container__lead {
    margin: auto;
    text-align: center;

    @include desktop-only {
        width: 80%;
    }
}

code {
    background-color: rgb(220,220,220);
}

// from https://webaim.org/techniques/css/invisiblecontent/
.sr-only {
    position: absolute;
    left: -1000000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}