* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: $light;
    font-family: $font-main;
    font-size: $font-small;
}

.select__container {
    display: block;
    text-align: center;
    font-size: $font-med;

    & label {
        display: block;
    }

    & select {
        display: block;
        margin: auto;
    }
}

// @include dark-mode {
//     body {
//         background: $dark;
//         color: $light;
//     }
// }