* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: $light;
    font-family: $font-main;
    font-size: $font-small;
}

// @include dark-mode {
//     body {
//         background: $dark;
//         color: $light;
//     }
// }