{% extends "base_generic.html" %}
{% load socialaccount %}
{% load account %}
{% load static %}
{% block page_title %}{% if user.is_authenticated %}Home{% else %}Log In{% endif %}{% endblock %}


{% block banner %}
{% if user.is_authenticated %}
<h1>Hello, {% user_display user %}</h1>
{% else %}
<h1>FOIA Integration</h1>
{% endif %}
{% endblock %}

{% block content %}
<div class="lead__container">
    {% if user.is_authenticated %}
    {% if has_google_service %}
    <p class="lead">You have {{num_unread}} unread messages in your inbox and {{num_overdue}} overdue requests.</p>
    <div class="card__flex__container">
        <div class="card__container">
            <ul class="card__list">
                {% if num_unread > 0 %}
                <li class="card__item">
                    <a href="#">Read your unread messages.</a>
                </li>
                {% endif %}
                {% if num_overdue > 0 %}
                <li class="card__item">
                    <a href="#">Follow up on your overdue requests.</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% else %}
    {% endif %}
    {% else %}
    <p class="lead">FOIA Integration is a tool designed to help you file and keep track of your public records requests. To get started,
         log in using a Google account below.</p>
    {% endif %}
</div>

<div class="container__lead">
    {% if user.is_authenticated %}<h2>Your Public Records Requests</h2>{% endif %}
</div>
        <div class="card__flex__container">
            {% if has_google_service %}
            <div class="card__panel google__info">
                <h3>File Requests</h2>
                <div class="card__container">
                    <ul class="card__list">
                        <li class="card__item">
                            <a href="{% url 'template' %}">Create Public Records Templates</a>
                        </li>
                        <li class="card__item">
                            <a href="{% url 'foia-request' %}">Send Public Records Requests</a>
                        </li>
                        <li class="card__item">
                            <a href="#">Schedule Records Requests</a>
                        </li>
                        <li class="card__item">
                            <a href="#">End Scheduled Requests</a>
                        </li>
                        <li class="card__item">
                            <a href="#">Create Agency Groupings</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
                <div class="card__container login__info">
                    <div class="card__panel">
                        <h2>Sign Into Google</h2>
                        <p>
                        This application reads through messages in your GMail account, reads your contact list, and sends you messages
                    on your behalf. Because of this, it is highly recommended that you only use this GMail account for filing public records requests,
                    due to privacy concerns and because using this account for other things might make the application less useful.
                        </p>
                        <a href="{% provider_login_url 'google' %}" class="login__google" aria-label="Log into Google.">
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="card__panel">
                <h3>Manage Requests</h2>
                <div class="card__container">
                        <ul class="card__list">
                            {% if has_google_service %}
                            <li class="card__item">
                                <a href="#">Respond or Follow Up on Request</a>
                            </li>
                            {% endif %}
                            <li class="card__item">
                                <div class="card__item__subheading">
                                    <a href="#">Update Request</a>
                                    <ul class="card__list">
                                        <li class="card__item">
                                            <a href="#">Add Contact Attempt</a>
                                        </li>
                                        <li class="card__item">
                                            <a href="#">Add Record(s)</a>
                                        </li>
                                        <li class="card__item">
                                            <a href="#">Update Request Status or Scope</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="card__item">
                                <a href="#">Add or Update Agency</a>
                            </li>
                            <li class="card__item">
                                <a href="#">Add or Update Source</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card__panel">
                    <h3>Find Requests</h3>
                    <div class="card__container">
                        <ul class="card__list">
                            <li class="card__item">
                                <a href="#">Search for Requests</a>
                            </li>
                            <li class="card__item">
                                <a href="#">Search for Documents</a>
                            </li>
                            <li class="card__item">
                                <a href="#">Search for People</a>
                            </li>
                            <li class="card__item">
                                <a href="#">Search for Agencies</a>
                            </li>
                            <li class="card__item">
                                <a href="#">View Agency Groupings</a>
                            </li>
                            <li class="card__item">
                                <a href="#">View Scheduled Requests</a>
                            </li>
                            <li class="card__item">
                                <a href="#">View Projects</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        <div class="card__flex__container user__info"></div>
{% endblock %}
