{% extends "base_generic.html" %}
{% load socialaccount %}
{% load account %}
{% load static %}
{% block page_title %}{% if user.is_authenticated %}Home{% else %}Log In{% endif %}{% endblock %}


{% block banner %}
{% if user.is_authenticated %}
<h1>Hello, {% user_display user %}</h1>
{% else %}
<h1>FOIA Integration</h1>
{% endif %}
{% endblock %}

{% block content %}
<div class="lead__container">
    {% if user.is_authenticated %}
    {% if has_google_service %}
    <p class="lead">You have around {{num_unread}} unread messages in your inbox.</p>
    {% else %}
    {% endif %}
    {% else %}
    <p class="lead">FOIA Integration is a tool designed to help you file and keep track of your public records requests. To get started,
         log in using a Google account below.</p>
    {% endif %}
</div>
{% if not user.is_authenticated %}
<div class="login__flex__container">
    <div class="login__container">
        <h2>Sign In</h2>
        <p>
            This application reads through messages in your GMail account, reads your contact list, and sends you messages
        on your behalf. Because of this, it is highly recommended that you only use this GMail account for filing public records requests,
        due to privacy concerns and because using this account for other things might make the application less useful.
        </p>
        <a href="{% provider_login_url 'google' %}" class="login__google" aria-label="Log into Google.">
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
