node_modules/

# environment variables for testing
.env

# selenium webdriver
*.log

# error logs from behave
foia_integration/tests/reports/*
# accessibility logs, HTML logs, etc
foia_integration/reports/*

.coverage

__pycache__
.DS_Store
*.egg-info