[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
flake8 = "*"
selenium = "*"
axe-selenium-python = "*"
django-debug-toolbar = "*"
Faker = "*"
bs4 = "*"
python-dotenv = "*"
pytest-selenium = "*"
pytest-flake8 = "*"
flake8-docstrings = "*"

[packages]
Django = "*"
psycopg2 = "*"
django-allauth = "*"
google-auth = "*"
google-api-python-client = "*"
us = "*"
djangorestframework = "*"
APScheduler = "*"
django-apscheduler = "*"
oauth2client = "*"
