h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

h1 {
    font-size: $heading-large;
    text-align: center;
}

h2 {
    font-size: $heading-med;
}

h3 {
    font-size: $heading-small;
}

nav {
    font-family: $font-light;
}

p {
    margin-left: 2rem;
}

a {
    color: black;
}