.card__flex__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    @include desktop-only {
        flex-direction: row;
    }
}

.card__container {
    background: $light;
    border: 1px dashed rgb(187, 187, 187);
    border-radius: 30px;
    max-width: 600px;
    padding: 2rem;
    margin: 1rem;

    & p {
        padding: 1rem;
    }
}

.card__panel {
    text-align: center;
    margin-top: 5px;
}

.card__list {
    list-style-type: none;
}

.card__item {

    text-align: left;

    & a {
        font-size: $font-med;
        font-family: $font-heading;
    }
}

.card__item__subheading {
    font-size: $font-med;
    font-family: $font-heading;

    ul li {
        transform: translateX(2rem);
            a {
        font-size: $font-small;
            }
        }
}

// @include dark-mode {
//     .login__container {
//         background: $dark;
//     }
// }
.google__info {
    min-width: 400px;
    min-height: 200px;
}

.login__google {
    background: url("../images/google_signin/btn_google_signin_light_normal_web@2x.png");
    background-repeat: no-repeat;
    width: 382px;
    height: 92px;
    display: inline-block;
}
.login__google:focus, .login__google:hover {
    background: url("../images/google_signin/btn_google_signin_light_focus_web@2x.png");
}
.login__google:active {
    background: url("../images/google_signin/btn_google_signin_light_pressed_web@2x.png");
}
.login__google:disabled {
    background: url("../images/google_signin/btn_google_signin_light_pressed_web@2x.png");
}

@media (prefers-color-scheme: dark) {
    .login__google {
    background: url("../images/google_signin/btn_google_signin_dark_normal_web@2x.png");
}
.login__google:focus, .login__google:hover {
    background: url("../images/google_signin/btn_google_signin_dark_focus_web@2x.png");
}
.login__google:active {
    background: url("../images/google_signin/btn_google_signin_dark_pressed_web@2x.png");
}
.login__google:disabled {
    background: url("../images/google_signin/btn_google_signin_dark_pressed_web@2x.png");
}
}